<header class="header">
  <div class="container header__container">
    <div class="logo"><a class="logo__link" href="#">Macaroons</a></div>
    <nav class="header__navigation-menu" id="navigation-menu">
      <div class="header__navigation-menu-close">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
             y="0px" viewBox="0 0 492 492" style="enable-background:new 0 0 492 492;" xml:space="preserve">
              <g>
                <g>
                  <path d="M300.188,246L484.14,62.04c5.06-5.064,7.852-11.82,7.86-19.024c0-7.208-2.792-13.972-7.86-19.028L468.02,7.872
			c-5.068-5.076-11.824-7.856-19.036-7.856c-7.2,0-13.956,2.78-19.024,7.856L246.008,191.82L62.048,7.872
			c-5.06-5.076-11.82-7.856-19.028-7.856c-7.2,0-13.96,2.78-19.02,7.856L7.872,23.988c-10.496,10.496-10.496,27.568,0,38.052
			L191.828,246L7.872,429.952c-5.064,5.072-7.852,11.828-7.852,19.032c0,7.204,2.788,13.96,7.852,19.028l16.124,16.116
			c5.06,5.072,11.824,7.856,19.02,7.856c7.208,0,13.968-2.784,19.028-7.856l183.96-183.952l183.952,183.952
			c5.068,5.072,11.824,7.856,19.024,7.856h0.008c7.204,0,13.96-2.784,19.028-7.856l16.12-16.116
			c5.06-5.064,7.852-11.824,7.852-19.028c0-7.204-2.792-13.96-7.852-19.028L300.188,246z"/>
                </g>
              </g>
            </svg>
      </div>
      <ul class="header__navigation">
        <li class="header__navigation-item"><a class="header__navigation-link" (click)="scrollTo(productsElement)">Пироженки</a></li>
        <li class="header__navigation-item"><a class="header__navigation-link" (click)="scrollTo(featuresElement)">О нас</a></li>
        <li class="header__navigation-item"><a class="header__navigation-link" (click)="scrollTo(orderElement)">Оформить заказ</a></li>
      </ul>
    </nav>
    <a class="tel header__tel" href="tel:{{ normalizePhoneNumber(phoneNumber) }}">{{ phoneNumber }}</a>
    <div class="header__burger" id="burger">☰</div>
  </div>
</header>

<section class="hero">
  <div class="container hero__container">
    <h1 class="hero__title">Мягкие французские пироженки Macaroons</h1>
    <p class="hero__text">Побалуйте себя и своих близких самыми вкусными и ароматными домашними пироженками
      Macaroon!</p>
    <div class="hero__action">
      <button class="btn hero__btn" (click)="scrollTo(productsElement)">Выбрать макарун</button>
    </div>
    <div class="hero__media">
      <img class="hero__media-img" src="assets/images/hero-image.png" alt="Упаковка макарун">
    </div>
  </div>
</section>

<section class="features" id="features" #featuresElement>
  <div class="container features__container">
    <h2 class="features__title">Мы печём для вас вкуснейшие макаруны уже более 10 лет</h2>
    <p class="features__text">Все пироженки мы готовим только из натуральных и качественных продуктов, без
      консервантов, ароматизаторов, красителей. Используем в приготовлении сливочное масло 82,5%, без дрожжей,
      маргарина, разрыхлителей и улучшителей муки.</p>
    <div class="features__media">
      <img class="features__media-img" src="assets/images/makaroon-big.png" alt="Макарун">
    </div>
    <ul class="features__list">
      <li class="features__item" *ngFor="let feature of features; let i = index">
        <h3 class="features__item-title"><span class="features__item-number">{{ i + 1 }}</span>{{ feature.title }}</h3>
        <p class="features__item-text">{{ feature.description }}</p>
      </li>
    </ul>
  </div>
</section>

<section class="products" id="products" #productsElement>
  <div class="container products__container">
    <h2 class="products__title">Выберите свой макарун</h2>
    <div class="products__items">
      <div class="product" *ngFor="let product of products">
        <div class="product__media">
          <img class="product__media-img" src="assets/images/products/{{ product.imageFileName }}"
               alt="{{ product.imageDescription }}">
        </div>
        <h3 class="product__title">{{ product.title }}</h3>
        <div class="product__action">
          <button class="btn product__btn" (click)="addToCart(product, orderElement)">Заказать</button>
        </div>
        <p class="product__amount">{{ product.amount }} шт.</p>
        <p class="product__price">{{
            product.price.toLocaleString('ru-ru', {
              minimumFractionDigits: 2,
              maximumFractionDigits: 2
            })
          }} руб.</p>
      </div>
    </div>
  </div>
</section>

<section class="order" id="order" #orderElement>
  <div class="container order__container">
    <div class="order__image">
      <img class="order__image-img" src="assets/images/macaroons.png" alt="Макаруны">
    </div>
    <div class="order__text">
      <h2 class="order__title">
        Закажите макарун!
      </h2>
      <p class="order__instruction">
        Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего пекаря!
      </p>
      <form class="order__form" action="https://webhook.site/406b83cc-11cb-44c8-baf7-fe862ae934c9" method="POST">
        <h3 class="form-title">Ваш выбор</h3>
        <input type="text" class="base-input order__base-input" name="product"
               placeholder="Напишите, что хотите заказать..." required [(ngModel)]="formValues.productTitle" (ngModelChange)="formValues.productTitle = $event.toUpperCase()">
        <h3 class="form-title order__form-title">Заполните данные для заказа</h3>
        <input type="text" class="base-input order__base-input" name="full-name" placeholder="Ваше имя" required [(ngModel)]="formValues.personName" >
        <input type="tel" class="base-input order__base-input" name="phone" placeholder="+375 (__) ___ - __ - __"
               required [(ngModel)]="formValues.phone">
        <button class="btn order__btn" (click)="createOrder()">Оформить заказ</button>
      </form>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container footer__container">
    <div class="footer__text">
      <div class="logo footer__logo"><a class="logo__link" href="#">Macaroons</a></div>
      <p class="footer__rights">
        Все права защищены, 2020
      </p>
    </div>
    <div class="footer__socials">
      <div class="social footer__social">
        <a class="social__link" href="{{ instagramLink }}">
          <svg class="social-media" xmlns="http://www.w3.org/2000/svg"
               viewBox="0 0 448 512">
            <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
            <path
              d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/>
          </svg>
        </a>
        <p class="social__text">Мы в Instagram</p>
      </div>
    </div>
    <a class="tel footer__tel" href="tel:{{ normalizePhoneNumber(phoneNumber) }}">{{ phoneNumber }}</a>
  </div>
</footer>
<div class="present" *ngIf="showPresent">
  <a class="present__link" href="#"><img class="present__image" src="assets/images/present.png" alt="Подарок"></a>
  <p class="present__text message-arrow">
    Оформите заказ<br>
    и получите подарок!
  </p>
</div>
